<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Estudios en el exterior I ULPA - University Language Programs Abroad</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        .centrar {
            text-align: center !important;
        }
        body {
            font-family: 'Open Sans', sans-serif !important;
        }
        [v-cloak] {
            display: none;
        }

        .img-with {
            width: 200px;
        }

        .tamano-iconos {
            width: 80px;
        }

        .icon-mobile {
            width: 30px;
        }

        .bg-primary {
            background-color: #ee4057 !important;
        }

        .bg-secundary {
            background-color: #0a2857 !important;
        }

        .tx-primary {
            color: #ee4057 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secundary text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color:white !important;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="img/logo.png"  style="width: 100px" alt="">
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <div>
                <p class="m-2"> Llamanos al 315 7904434 <a href="" class="p-2"><img src="img/whatsapp.svg"
                            class="icon-mobile"></a> </p>
            </div>
        </div>
    </nav>

    <div class="container mt-4 mb-4" id="app" v-cloak>
        <div class="row justify-content-center">
            <div class="text-uppercase">
                <p class="centrar m-0">Vive una experiencia inolvidable</p>
                <p class="centrar m-0">estudiando inglés</p>
                <p class="centrar m-0">en cadadá</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="centrar">Te conectamos con instituciones acreditadas en Canadá</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <a class="btn bg-primary text-white" @click.prevent="scroll()">CTA</a>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src="img/els.png" class="img-with" alt="" srcset="">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src="img/st-giles.png" class="img-with">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src="img/ilsc.jpg" class="img-with">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src="img/els.png" class="img-with">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-center">
                        <img src="img/global-village.png" class="img-with">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Explora Toronto, Vancovver, Calgary, Montreal y Victoria, estudia el programa que mas se adapte a
                        tus necesidades.</p>
                </div>
                <div class="col-md-4 mt-4">
                    <h2 class="tx-primary">Programas</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <ul class="list-group list-group-flush col-md-4">
                        <li class="list-group-item">Inglés Académico</li>
                        <li class="list-group-item">Preparación</li>
                        <li class="list-group-item">Inglés general</li>
                        <li class="list-group-item">Inglés de Negocios</li>
                        <li class="list-group-item">Programas para niños y jovenes</li>
                    </ul>
                    <!-- <ul>
                        <li>Inglés Académico</li>
                        <li>Preparación</li>
                        <li>Inglés general</li>
                        <li>Inglés de Negocios</li>
                        <li>Programas para niños y jovenes</li>
                    </ul> -->
                </div>
                <div class="col-md-4 mt-4">
                    <h2 class="tx-primary">Beneficiarios</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Asesoría experimentada en visa canadiense</li>
                        <li class="list-group-item">Transporte al aeropuerto</li>
                        <li class="list-group-item">Alojamiento</li>
                        <li class="list-group-item">Inglés de Negocios</li>
                        <li class="list-group-item">Tarjeta isic</li>
                    </ul>
                    <!-- <ul>
                        <li>Asesoría experimentada en visa canadiense</li>
                        <li>Transporte al aeropuerto</li>
                        <li>Alojamiento</li>
                        <li>Tarjeta isic</li>
                    </ul> -->
                </div>
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Nosotros</h2>
                        </div>
                        <div class="col-md-4">
                            <div class="row justify-content-center">
                                <img src="img/plus-18-movie.svg" class="tamano-iconos">
                            </div>
                            <p class="text-center">18 años de experiencia</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row justify-content-center">
                                <img src="img/group.svg" class="tamano-iconos">
                            </div>
                            <p>+ de 500 estudiantes enviados a canadá</p>
                        </div>
                        <div class="col-md-4">
                            <div class="row justify-content-center">
                                <img src="img/favorites.svg" class="tamano-iconos">
                            </div>
                            <p>Acreditados por las mejores esculas de Canadá</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr>
            <div class="row justify-content-center">
                <form id="contacto" @submit.prevent="send()" class="col-md-8">
                    <div class="rounded" :class="error.class" v-if="error">
                        <p class="p-4" v-text="error.mensaje"></p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="nombre" class="form-control" v-model="registro.nombre" id="nombre"
                            placeholder="Nombre">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email"
                            v-model="registro.email">
                    </div>
                    <button type="submit" class="btn bg-primary text-white btn-block" :disabled="button">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/60362d4025.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/app.js"></script>
</body>

</html>